<h2>Devis</h2>
<p>
    --------------------------
</p>
<div>
    <ul>
        <li>
            <%= @params[:inputLastName] %>
        </li>
        <li>
            <%= @params[:inputFirstName] %>
        </li>
        <li>
            <%= @params[:inputEmail] %>
        </li>
        <li>
            <%= @params[:inputPhone] %>
        </li>
        <li>
            <%= @params[:inputTown] %>
        </li>
    </ul>
</div>
<div>
    <p>
        Message:<br>
        --------------------------
    </p>
    <p>
        <%= @params[:inputMessage].join(' ') %>
    </p>
</div>