<div class="container text-justify p-5">
    <div class="mt-4">
        <h2 class="underline">Contactez-nous</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perspiciatis, rem delectus quidem
            obcaecati aspernatur, repellat enim suscipit libero maiores officia a quasi. Nisi tempora doloremque
            expedita perferendis hic rerum.
        </p>
    </div>

    <small>Ce formulaire nous enverra un email</small>

    <div class="d-flex justify-content-center align-items-center">

        <%= form_with url: contacts_path, class: "vw-100", local: true do %>
        <div class="form-row">
            <div class="form_group col-md-6">
                <%= label_tag(:inputLastName, "Nom") %>
                <%= text_field_tag(:inputLastName, "", class: "form-control", placeholder: "Ex: Launey", required: true) %>
            </div>
            <div class="form_group col-md-6">
                <%= label_tag(:inputFirstName , "Prenom") %>
                <%= text_field_tag(:inputFirstName, "", class: "form-control", placeholder: "Ex: François") %>
            </div>
        </div>
        <div class="form-row">
            <div class="form_group col-md-6">
                <%= label_tag(:inputEmail, "Email*") %>
                <%= email_field_tag(:inputEmail, "", class: "form-control", placeholder: "Ex: FrancoisLauney@gmail.com", required: true) %>
            </div>
            <div class="form_group col-md-6">
                <%= label_tag(:inputPhone, "Tel*") %>
                <%= text_field_tag(:inputPhone, "", class: "form-control", placeholder: "Ex: 01.02.03.04.05", required: true) %>
            </div>
        </div>
        <div class="form-row">
            <div class="form_group col-md-6">
                <%= label_tag(:inputTown, "Ville*") %>
                <%= text_field_tag(:inputTown, "", class: "form-control", placeholder: "Ex: Périgueux", required: true) %>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <%= label_tag(:inputMessage, "Message") %>
                <%= text_area(:inputMessage, "", rows: 8, class: "form-control", 
                placeholder: "Ex: Je souhaite réaliser des traveaux...
Ex: J'aimerais réaliser un devis pour une maison individuel...
Ex: Je souhaiterez connaître vos tarif concernant..." ) %>
            </div>
        </div>
        <div class="col mx-auto text-center">
            <small>Les champs indiqués par un astérisque (*) sont obligatoires</small>
            <div>
                <%= submit_tag("Envoyer", class: "btn")%>
            </div>
        </div>
        <% end %>

    </div>
</div>

<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.429518450239!2d0.35362955077166264!3d45.03650506979824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ff8a4ab2198127%3A0xb6884ae2e8d99dbf!2s6%20Rue%20de%20la%20Libert%C3%A9%2C%2024400%20Saint-M%C3%A9dard-de-Mussidan!5e0!3m2!1sen!2sfr!4v1576174020269!5m2!1sen!2sfr"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
</div>