<div class="container">
    <h3>Redaction de réalisation</h3>

    <%= form_with url: realisations_path, class: "d-flex flex-column align-items-center", local: true do |form| %>

    <%= label(:title, :Titre) %>
    <%= form.text_field :title %>

    <%= label(:description, :Description) %>
    <%= form.text_area :description %>

    <%= form.file_field :image, multiple: true, id: 1 %>
    <%= form.file_field :image, multiple: true, id: 2 %>
    <%= form.file_field :image, multiple: true, id: 3 %>

    <%= form.submit %>
    <% end %>
</div>