<nav class="navbar navbar-expand-lg navbar-dark bg-light container-fluid flex-column sticky-top p-0 shadow">
    <div class="row container blockLogoContact">
        <div class="col-sm-12 col-md-6">
            <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag("logo/logo.png", alt:"Logo entreprise", class: "navbar-logo") %>
            <% end %>
        </div>

        <div class="col-sm-12 col-md-6 text-md-right navbar-contact ml-3">
            <i class="fas fa-phone-square-alt fa-3"></i>
            <span id="phone">01 02 03 04 05</span>
        </div>
    </div>

    <div class="row container-fluid align-items-start line-link">

        <div class="col col-md-12">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <%= link_to "ACCUEIL", root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "MAISON INDIVIDUELLE", maison_individuelles_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "MACONNERIE TERRASSEMENT", maconneries_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "CHARPENTE MENUISERIE", charpentes_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "COUVERTURE ZINGUERIE", couv_zings_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "CARRELAGE FAÃENCE", carr_faiences_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "REALISATIONS",realisations_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item text-center">
                        <%= link_to "CONTACT", new_contact_path, class: "nav-link" %>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </div>
</nav>