<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/47b339c5bd.js" crossorigin="anonymous" integrity="sha384-tCIa9x35rFwAnPYwDCoqImEiB9Ai31jfzeslK4Q53KZAXSFi24Px912eIpefo9Bj"></script>
    <meta name=”robots” content=”noindex,nofollow”>
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap" rel="stylesheet">

    <title>Mon entreprise</title>
    <meta name="description" content="Site de maçonnerie..." />
  </head>

  <body>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/flash' %>
        <div class="main">
        <%= yield %>
        </div>
        <%= render 'layouts/footer' %> 
        <%= insert_paloma_hook %>  
  </body>
</html>
